<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lwx.usm.mapper.LoginSessionMapper" >
  <resultMap id="BaseResultMap" type="com.lwx.usm.model.LoginSession" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="session_id" property="sessionId" jdbcType="VARCHAR" />
    <result column="remote_ip" property="remoteIp" jdbcType="VARCHAR" />
    <result column="local_ip" property="localIp" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="session_size" property="sessionSize" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    session_id, remote_ip, local_ip, login_name, login_time, session_size, create_user, 
    update_user, create_time, update_time
  </sql>
</mapper>